src/main/mule/myfirstmulegitproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6a1d2e42-e6ea-42b5-aec4-43246794f40f" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<flow name="myfirstmulegitprojectFlow" doc:id="b5fdcdf1-978b-4f22-b140-7a001ea619e7" >
		<http:listener doc:name="Listener" doc:id="c8062333-4b55-428d-a3e7-6aa4529832a5" config-ref="HTTP_Listener_config" path="/git"/>
		<logger level="INFO" doc:name="Logger" doc:id="5c18b6ae-5e5e-4fca-a791-dc17eea116f6" message="#[payload]"/>
	</flow>
</mule>
